<!-- Cloudflare Web Analytics -->
{% if site.cf_analytics_token and site.cf_analytics_token != "" %}
<script defer src="https://static.cloudflareinsights.com/beacon.min.js"
        data-cf-beacon='{"token": "{{ site.cf_analytics_token }}"}'></script>
{% endif %}

<!-- Favicon – cybersecurity theme -->
<link rel="icon" type="image/x-icon" href="/favicon.ico">
<link rel="icon" type="image/svg+xml" href="/favicon.svg">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href